<ul class="admin-menu">
    <li class="parent">
        Список
        <ul class="child">
            <li><a href="{{ path('object') }}">Объектов</a></li>
            <li><a href="{{ path('object_type') }}">Типов объектов</a></li>
            <li><a href="{{ path('sale_type') }}">Типов продукции</a></li>
        </ul>
    </li>
    <li class="parent">
        Создать
        <ul class="child">
            <li><a href="{{ path('object_new') }}">Объект</a></li>
            <li><a href="{{ path('object_type_new') }}">Тип объекта</a></li>
            <li><a href="{{ path('sale_type_new') }}">Тип продукции</a></li>
        </ul>
    </li>
</ul>