{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Редактирование объекта # {{ edit_form.vars.value.id }}</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.address) }}
    {{ form_row(edit_form.owner) }}
    {{ form_row(edit_form.object_type) }}
    {{ form_row(edit_form.sale_type) }}
    {{ form_row(edit_form.user) }}
    {{ form_row(edit_form.registered_land) }}

    {% if app.user.hasRole('ROLE_MUNICIPAL') %}
        <div>
            {{ form_label(edit_form.municipal_id) }}
            {{ form_errors(edit_form.municipal_id) }}
            {{ form_widget(edit_form.municipal_id, {'attr': {'disabled':'disabled'} }) }}
        </div>
    {% else %}
        {{ form_row(edit_form.municipal_id) }}
    {% endif %}



    {{ form_row(edit_form.image) }}
    <div>
        <label>Текущая фотография</label>
        {% if edit_form.vars.value.image %}
            <a href="{{ edit_form.vars.value.image }}"><img src="{{ edit_form.vars.value.imageT }}" alt="Фотография"></a>
        {% else %}
            <div class="empty">&mdash;</div>
        {% endif %}
    </div>
    {{ form_widget(edit_form.save,{'label':'Изменить'}) }}

    {{ form_widget(edit_form._token) }}
{% endblock %}