{% extends '::admin_base.html.twig' %}
{% block javascripts %}
    <script>
        $(function(){
            var filters = $('select[name="filters"]');

            filters.change(function(e){
                window.location.href = $(this).val();
                e.preventDefault();
            })
        });
    </script>
{% endblock %}
{% block body -%}
    <h1>Список объектов ({{ count }})</h1>
    <div class="filters">
        Сортировка
        {% if app.request.query.get('sort') is defined %}
            {% set sortType = app.request.query.get('sort') %}
            {% set sortOrder = app.request.query.get('order') %}
        {% else %}
            {% set sortType = 'id' %}
            {% set sortOrder = 'asc' %}
        {% endif %}

        <select name="filters">
            {% if sortType == 'id' and sortOrder == 'asc' %}{% set selected = true %}{% else %}{% set selected = false %}{% endif %}
            <option {% if selected %}selected{% endif %} value="{{ path('object',{'sort':'id','order':'asc'}) }}">По Id 1&mdash;9</option>

            {% if sortType == 'id' and sortOrder == 'desc' %}{% set selected = true %}{% else %}{% set selected = false %}{% endif %}
            <option {% if selected %}selected{% endif %} value="{{ path('object',{'sort':'id','order':'desc'}) }}">По Id 9&mdash;1</option>

            {% if sortType == 'owner' and sortOrder == 'asc' %}{% set selected = true %}{% else %}{% set selected = false %}{% endif %}
            <option {% if selected %}selected{% endif %} value="{{ path('object',{'sort':'owner','order':'asc'}) }}">По Владельцу A&mdash;Z</option>

            {% if sortType == 'owner' and sortOrder == 'desc' %}{% set selected = true %}{% else %}{% set selected = false %}{% endif %}
            <option {% if selected %}selected{% endif %} value="{{ path('object',{'sort':'owner','order':'desc'}) }}">По Владельцу Z&mdash;A</option>

            {% if sortType == 'address' and sortOrder == 'asc' %}{% set selected = true %}{% else %}{% set selected = false %}{% endif %}
            <option {% if selected %}selected{% endif %} value="{{ path('object',{'sort':'address','order':'asc'}) }}">По Адресу A&mdash;Z</option>

            {% if sortType == 'address' and sortOrder == 'desc' %}{% set selected = true %}{% else %}{% set selected = false %}{% endif %}
            <option {% if selected %}selected{% endif %} value="{{ path('object',{'sort':'address','order':'desc'}) }}">По Адресу Z&mdash;A</option>
        </select>
    </div>
    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Рейтинг(Отзывы)</th>
            <th>Координаты | Адрес</th>
            <th>Владелец | Связь</th>
            <th>Тип объекта</th>
            <th>Тип продукции</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
                    {% if entity.rating %}
                        {{ entity.rating }}
                        ({{ entity.votes }})
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td>{{ entity.coordinates }} | {{ entity.address }}</td>
                <td>
                    {% if entity.owner %}
                        {{ entity.owner }}
                    {% else %}
                        &mdash;
                    {% endif %}
                    |
                    {% if entity.user %}
                        {{ entity.user.username }}
                    {% else %}
                        &mdash;
                    {% endif %}

                </td>
                <td>{{ entity.objectType.name }}</td>
                <td>{{ entity.saleType.name }}</td>
                <td>
                    <a class="button info" href="{{ path('object_edit',{id:entity.id}) }}">Редактировать</a>
                    <a class="button danger" href="{{ path('object_delete',{id:entity.id}) }}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pages > 0 %}
        <div class="pages">
            {% for i in 1..pages %}
                {% if i == current + 1 %}
                    <a class="page button info active" href="{{ path('object',{'page': i-1,'sort': sortType,'order': sortOrder}) }}">{{ i }}</a>
                {% else %}
                    <a class="page button info" href="{{ path('object',{'page': i-1,'sort': sortType,'order': sortOrder}) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
