{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row node-id">
    Комментарий для объекта #{{ node.id }}
    <input type="hidden" name="mroc_mainbundle_comment[id]" value="{{ node.id }}">
</div>
<div class="row">
    {{ form_widget(form.name,{'attr': {'placeholder': 'Ваше имя' }}) }}
    {{ form_errors(form.name) }}
</div>
<div class="row">
    {{ form_widget(form.email,{'attr': {'placeholder': 'E-mail' }}) }}
    {{ form_errors(form.email) }}
</div>
<div class="row">
    {{ form_widget(form.comment,{'attr': {'placeholder': 'Комментарий','rows': 5 }}) }}
    {{ form_errors(form.comment) }}
</div>
<div class="row">
    {{ form_widget(form.captcha,{'attr': {'placeholder':'Капча'}}) }}
    {{ form_errors(form.captcha) }}
</div>
{{ form_widget(form.send, {'attr': {'class':'button blue center fixed200 send-comment'}}) }}
{{ form_widget(form._token) }}