{% extends '::admin_base.html.twig' %}
{% block body -%}
    <h1>Список пользователей ({{ count }})</h1>
    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Роли</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    {% for k,v in entity.roles %}
                        {{ v }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pages > 0 %}
        <div class="pages">
            {% for i in 1..pages %}
                {% if i == current + 1 %}
                    <a class="page button info active" href="{{ path('mroc_admin_object_complaints',{'page': i-1}) }}">{{ i }}</a>
                {% else %}
                    <a class="page button info" href="{{ path('mroc_admin_object_complaints',{'page': i-1}) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}