<div class="object-info">
    <div class="id">#{{ node.id }}</div>
    <div class="owner_name">{{ node.owner }}</div>
    <div class="address">{{ node.address }}</div>
    <div class="type">{{ node.objectType.name }}</div>
    <div class="sub-type">{{ node.saleType.name }}</div>
    {% if node.imageT and node.image %}
        <a class="image" href="{{ node.image }}"><img src="{{ node.imageT }}" alt="Объект # {{ node.id }}"/></a>
    {% else %}
        <div class="image empty">Фотография недоступна</div>
    {% endif %}
    <div class="rating-container">
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
    </div>
    <div class="current-rating">
        Рейтинг:
        {% if node.rating %}
            {{ node.rating }}
        {% else %}
            нет
        {% endif %}
    </div>
    <div class="current-position">Местов рейтинге: {{ rank }}</div>
</div>
{% if node.ownerMessageHeader and node.ownerMessage %}
    <div class="owner">
        <div class="owner-header">{{ node.ownerMessageHeader }}</div>
        <div class="owner-message">{{ node.ownerMessage }}</div>
    </div>
{% endif %}
<div class="comments">
    <div class="comments-line">Отзывы</div>
    <div class="comments-list">
        {% if comments | length > 0 %}
            {% for k,v in comments %}
                <div class="comment">
                    <div class="who">{{ v.author }}</div>
                    <div class="text">{{ v.text }}</div>
                </div>
            {% endfor %}
        {% else %}
            Отзывов нету
        {% endif %}
    </div>
    <a class="do-comment" data-for-id="{{ node.id }}">Оставить отзыв</a>
    <a class="red button object-complaint" data-for-id="{{ node.id }}">Пожаловаться на объект</a>
</div>