<div class="object-info">
    <div class="id">#{{ node.id }}</div>
    <div class="address">{{ node.address }}</div>
    <div class="type">{{ node.objectType.name }}</div>
    <div class="sub-type">{{ node.saleType.name }}</div>
    {% if node.imageT and node.image %}
        <a class="image" href="{{ node.image }}"><img src="{{ node.imageT }}" alt="Объект # {{ node.id }}"/></a>
    {% else %}
        <div class="image empty">Фотография недоступна</div>
    {% endif %}
    <div class="rating-container">
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
        <i class="icon star-empty"></i>
    </div>
    <div class="current-rating">
        Рейтинг:
        {% if node.rating %}
            {{ node.rating }}
        {% else %}
            нет
        {% endif %}
    </div>
    <div class="current-position">Местов рейтинге: {{ rank }}</div>
</div>
<div class="comments">
    <div class="comments-line">Отзывы</div>
    <div class="comments-list">
        <div class="comment">
            <div class="who">Василий</div>
            <div class="text">В этой палатке самые  добрые продавцы, за 20 лет ни разу не обвесили</div>
        </div>
    </div>
    <a class="do-comment" data-for-id="{{ node.id }}">Оставить отзыв</a>
    <a class="red button">Пожаловаться на объект</a>
</div>