{% extends '::base.html.twig' %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('/css/main_mobile.css') }}">
 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/base.js?scope='~scope) }}" type="text/javascript"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function(){
            var menuLayerSwitch = $('.open-mobile-menu');
            var list = {{ list | raw }};
            var message = '';

            var map = document.getElementById('map');
            var menuLayer = document.getElementsByClassName('menu-layer')[0];
            var niceLayer = document.getElementsByClassName('nice-layer')[0];
            var objectLayer = document.getElementsByClassName('object-info-layer')[0];
            var topMenu = document.getElementsByClassName('top-menu')[0];
            var openObjectInfo = document.getElementsByClassName('open-object-info')[0];
            var openFilter = document.getElementsByClassName('open-filter')[0];

            var modal = document.getElementsByClassName('modal')[0];
            var filterLayer = document.getElementsByClassName('filter-layer')[0];

            map.style.height = window.innerHeight - topMenu.offsetHeight + 'px';
            menuLayer.style.height = window.innerHeight - topMenu.offsetHeight + 'px';
            objectLayer.style.height = window.innerHeight - topMenu.offsetHeight + 'px';
            modal.style.height = window.innerHeight - topMenu.offsetHeight + -20 + 'px';
            filterLayer.style.height = window.innerHeight - topMenu.offsetHeight - 20 + 'px';

            niceLayer.style.height = window.innerHeight - topMenu.offsetHeight + 'px';

            menuLayerSwitch.on('click tap',function(){
                $(niceLayer).toggle();
                $(menuLayer).toggle();
                menuLayerSwitch.toggleClass('active');
            });

            $(openObjectInfo).on('click tap',function(){
                if($(objectLayer).attr('data-current-id') != 0){
                    $(menuLayer).hide();
                    $(objectLayer).show();
                }else{
                    alert('Объект не выбран');
                }
            });

            $(openFilter).on('click tap',function(){
                $(niceLayer).show();
                $(menuLayer).hide();
                $(filterLayer).show();
            });

            $(document).on('click tap','.object-info-layer .node-id span',function(){
                $(menuLayer).show();
                $(objectLayer).hide();
                $(filterLayer).hide();
            });

            $(document).on('click tap','.filter-layer .filter-header .close',function(){
                $(menuLayer).show();
                $(objectLayer).hide();
                $(filterLayer).hide();
            });

            ymaps.ready(function(){
                initMap();

                fillMap(moscowRegionMap,list,fillObjectLayer);
                handleQR(list,fillObjectLayer);

                handleStates(list,fillObjectLayer);
            });

            function fillObjectLayer(mrocId)
            {
                var panel = $('.object-info-layer');
                var url = '{{ path('_xhr_mroc_main_get_extended_info',{'mobile':true}) }}';

                if(panel.attr('data-current-id') != mrocId){
                    $.ajax({
                        type: 'post',
                        url: url,
                        data:{
                            id: mrocId
                        },
                        success: function(result)
                        {
                            panel.attr('data-current-id',mrocId);
                            panel.html(result.view);

                            $(menuLayer).hide();

                            $(niceLayer).show();
                            $(objectLayer).show();
                        }
                    })
                }
            }

            {% if app.session.flashbag.has('success') %}
                message = '{{ app.session.flashbag.get('success')[0] }}';
                showPopup('small','Спасибо!',message);
            {% endif %}

            {% if app.session.flashbag.has('failed') and app.session.flashbag.has('errors') %}
                message = {{ app.session.flashbag.get('errors')[0] | raw }};
                showPopup('small','Произошли ошибки',message.join('<br>'));
            {% endif %}
        };
    </script>
{% endblock %}

{% block body %}
    <div class="mobile-wrapper">
        <div class="top-menu">
            <div class="left-block">
                <i class="icon open-mobile-menu"></i>
            </div>
            <div class="header">ГУП “МосОблКачество”</div>
        </div>
        <div class="nice-layer"></div>
        <div class="menu-layer">
            <div class="inner">
                <a class="open-filter">Фильтр</a><br>
                <a class="open-object-info">Информация об объекте</a><br>
                <div class="hr"></div>
                <div class="button red complaint">Пожаловаться</div>
                <div class="button default question">Отправить вопрос</div>
                <div class="links">
                    <a href="" class="global-complaint">Пожаловаться в контролирующие органы</a>
                    <a href="">Сайт министерства потребительских услуг и рынка МО</a>
                    <a href="">Сайт министерства потребительских услуг и рынка МО</a>
                </div>
            </div>
        </div>
        <div class="filter-layer">
            <div class="filter-header">
                <div class="filter-text">Фильтр</div>
                <div class="close">&times;</div>
            </div>
            <div class="tabs">
                <a class="tab active" data-for-tab="by-type">По типу</a>
                <a class="tab" data-for-tab="by-production">По виду продукции</a>
            </div>
            <div class="tab-content">
                <div class="content active" data-tab-name="by-type">
                    <ul>
                        {% for k,v in object_type_list %}
                            <li><label><input type="checkbox" class="object_type_select" value="{{ v.id }}">{{ v.name }}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="content" data-tab-name="by-production">
                    <ul>
                        {% for k,v in sale_type_list %}
                            <li><label><input type="checkbox" class="sale_type_select" value="{{ v.id }}">{{ v.name }}</label></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="best">
                <div class="best-line line">Рейтинг лучших</div>
                <div class="best-list">
                    {% for k,v in top %}
                        <div class="list-item">
                            {{ loop.index }}. <a class="bold" href="#">{{ v.address }}</a><br>
                            {% if v.rating %}
                                <span>Рейтинг: {{ v.rating }}</span>
                            {% else %}
                                <span>Рейтинг: &mdash;</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="object-info-layer" data-current-id="0"></div>
        <div class="darken"></div>
        <div class="modal">
            <div class="modal-header">
                <div class="header-text"></div>
                <div class="close">&times;</div>
            </div>
            <div class="modal-content"></div>
        </div>
        <div id="map"></div>
    </div>
{% endblock %}