{% extends '::base.html.twig' %}
{% block title %}Главная страница, ГУП "МосОблКачество"{% endblock %}
{% block javascripts %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function(){
            var list            = {{ list | raw }};
            var containerDiv    = $('.container');
            var mapDiv          = $('#map');
            var leftBar         = $('.left');
            var rightBar        = $('.right');
            var animationPeriod = 200;
            var hasVotedForIds  = [];

            ymaps.ready(function(){
                moscowRegionMap = new ymaps.Map("map",
                        {
                            center: [55.76, 37.64],
                            zoom: 9,
                            controls: ['smallMapDefaultSet']
                        }
                );

                var mapObjects = [];
                iterate(list,function(key,val){
                    var g = new ymaps.GeoObject({
                        geometry: {
                            type: "Point",
                            coordinates: val.coordinates
                        },
                        properties: {
                            clusterCaption: 'Объект # '+val.id,
                            balloonContent: 'Объект # '+val.id
                        }
                    },{
                        hasBaloon: false
                    });
                    g.properties.set('mrocId',val.id);
                    g.events.add('balloonopen',function(e){
                        fillSidePanel(g.properties.get('mrocId'));
                    });

                    mapObjects.push(g);
                });

                var cluster = new ymaps.Clusterer();
                var activeObjectMonitor;

                cluster.events
                        .add('balloonopen',function(event){
                            activeObjectMonitor = new ymaps.Monitor(event.get('cluster').state);
                            activeObjectMonitor.add('activeObject', function (newValue) {
                                fillSidePanel(newValue.properties.get('mrocId'));
                            });
                        })
                        .remove('balloonclose', function (event) {
                            activeObjectMonitor.removeAll();
                        });


                cluster.add(mapObjects);
                moscowRegionMap.geoObjects.add(cluster);
                resizeObjects();
            });

            function showRightBar()
            {
                var icon = rightBar.find('.arrow .icon');

                rightBar.animate({right:'0'},animationPeriod,function(){
                    rightBar.attr('data-state','on');
                    icon.toggleClass('arrow-left arrow-right');

                    mapDiv.css('width',getMapSize(leftBar,rightBar)+'px');
                    mapDiv.animate({'padding-right':'198'},animationPeriod,function(){
                        moscowRegionMap.container.fitToViewport(true);
                    });
                });
            }

            function fillSidePanel(mrocId)
            {
                var panel = $('.container .right');
                var url = panel.attr('data-extended-url');

                if(panel.attr('data-current-id') != mrocId){
                    $.ajax({
                        type: 'post',
                        url: url,
                        data:{
                            id: mrocId
                        },
                        success: function(result)
                        {
                            panel.attr('data-current-id',mrocId);
                            panel.find('*').not('.arrow, .icon').remove();
                            panel.find('.arrow').after(result.view);

                            showRightBar();
                        }
                    })
                }
            }

            function getMapSize(leftBar, rightBar)
            {
                var size = 0;
                var width = $('body').innerWidth();
                var left = !!(leftBar.attr('data-state') == 'on');
                var right = !!(rightBar.attr('data-state') == 'on');

                if(left == true && right == true){
                    size = width - 198*2;
                }

                if((left == false && right == true) || (left === true && right == false)){
                    size = width - 198;
                }

                if(left == false && right == false){
                    size = width;
                }
                return size;
            }

            function getContainerHeight()
            {
                var height = $('body').innerHeight();
                var size = height - 96 - 136;
                size = size < 650 ? 650 : size;

                return size
            }

            function resizeObjects()
            {
                mapDiv.css('width',getMapSize(leftBar,rightBar)+'px');
                containerDiv.css('height',getContainerHeight()+'px');
                $('.best-list').css('height',
                        getContainerHeight() - 47 -
                                $('.filter-line').outerHeight() -
                                $('.tabs').outerHeight() -
                                $('.tab-content').outerHeight() -
                                $('.best-line').outerHeight() + 'px'
                );

                moscowRegionMap.container.fitToViewport(true)
            }

            $(window).resize(function(){
                resizeObjects();
            });

            $(document).on('mouseover','.rating-container .icon.star-empty',function(e){
                var n = $(this).index();

                var beforeElementsAndCurrent = $.merge($(this),$('.rating-container .icon:lt('+n+')'));
                var afterElements = $('.rating-container .icon:gt('+n+')');


                beforeElementsAndCurrent.addClass('star');
                beforeElementsAndCurrent.removeClass('star-empty');

                afterElements.addClass('star-empty');
                afterElements.removeClass('star');
            });

            $(document).on('mouseleave','.rating-container .icon',function(e){
                $(this).removeClass('star');
                $(this).addClass('star-empty')
            });

            $(document).on('click tap','.rating-container .icon',function(e){
                var rating = $(this).index() + 1;
                var mrocId = parseInt(rightBar.attr('data-current-id'));

                if($.inArray(mrocId,hasVotedForIds) == -1){
                    hasVotedForIds.push(mrocId);

                    $.ajax({
                        type: 'post',
                        url : '{{ path('_xhr_mroc_main_modify_rating') }}',
                        data:{
                            id: mrocId,
                            rating: rating
                        },
                        success: function(result){
                            alert('Спасибо за ваш голос!');
                        }
                    })
                }
            });

            $(document).on('click tap','.tabs .tab',function(){
                var allTabs = $('.tabs .tab');
                var allContents = $('.tab-content .content');
                var targetName = $(this).attr('data-for-tab');
                var target = $('.tab-content .content[data-tab-name="'+targetName+'"]');

                allTabs.removeClass('active');
                $(this).addClass('active');


                allContents.removeClass('active');
                target.addClass('active');
            });


            $(document).on('click tap','.arrow.hide-left-bar, .arrow.hide-right-bar',function(e){
                var subject = $(this).hasClass('hide-left-bar') ? 'left' : 'right';

                var object = subject == 'left' ? leftBar : rightBar;
                var parametersOut = subject == 'left' ? {left:'-195'} : {right:'-195'};
                var parametersIn = subject == 'left' ? {left:'0'} : {right:'0'};

                var paddingParametersOut = subject == 'left' ? {'padding-left': '0'} : {'padding-right':'0'};
                var paddingParametersIn = subject == 'left' ? {'padding-left': '198'} : {'padding-right':'198'};

                var icon = object.find('.icon');

                if(object.attr('data-state') == 'on'){
                    object.animate(parametersOut,animationPeriod,function(){
                        object.attr('data-state','off');
                        icon.toggleClass('arrow-left arrow-right');

                        mapDiv.css('width',getMapSize(leftBar,rightBar)+'px');
                        mapDiv.animate(paddingParametersOut,animationPeriod,function(){
                            moscowRegionMap.container.fitToViewport(true);
                        });
                    });
                }

                if(object.attr('data-state') == 'off'){
                    object.animate(parametersIn,animationPeriod,function(){
                        object.attr('data-state','on');
                        icon.toggleClass('arrow-left arrow-right');

                        mapDiv.css('width',getMapSize(leftBar,rightBar)+'px');
                        mapDiv.animate(paddingParametersIn,animationPeriod,function(){
                            moscowRegionMap.container.fitToViewport(true);
                        });
                    });
                }
            });

            {% if app.session.flashbag.has('success') %}
                var message = '{{ app.session.flashbag.get('success')[0] }}';
                showPopup('normal','Спасибо!',message);
            {% endif %}


            $(document).on('click tap','.global-complaint',function(e){
                e.preventDefault();
                $('.darken').show();
                $.ajax({
                    type: 'get',
                    url: '{{ path('_xhr_mroc_main_global_complaint') }}',
                    success: function(result){
                        showPopup('normal','Отправить жалобу',result);
                    }
                });
            });

            $(document).on('click tap','.complaint',function(){
                $('.darken').show();
                $.ajax({
                    type: 'get',
                    url: '{{ path('_xhr_mroc_main_complaint') }}',
                    success: function(result){
                        showPopup('small','Отправить жалобу',result);
                    }
                });
            });

            $(document).on('click tap','.object-complaint',function(){
                $('.darken').show();
                $.ajax({
                    type: 'get',
                    url: '{{ path('_xhr_mroc_main_object_complaint') }}',
                    data:{
                        id: $(this).attr('data-for-id')
                    },
                    success: function(result){
                        showPopup('small','Пожаловаться на объект',result);
                    }
                });
            });

            $(document).on('click tap','.question',function(){
                $('.darken').show();
                $.ajax({
                    type: 'get',
                    url: '{{ path('_xhr_mroc_main_question') }}',
                    success: function(result){
                        showPopup('small','Задать вопрос',result);
                    }
                });
            });

            $(document).on('click tap','.do-comment',function(){
                $('.darken').show();
                $.ajax({
                    type: 'get',
                    url: '{{ path('_xhr_mroc_main_comment') }}',
                    data:{
                        id: $(this).attr('data-for-id')
                    },
                    success: function(result){
                        showPopup('small','Оставить комментарий',result);
                    }
                });
            });

            $(document).on('click tap','.send-global-complaint',function(e){
                e.preventDefault();
                var form = $('.global-complaint-form');

                $.ajax({
                    type: 'post',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(result){
                        if(result.errors.length > 0){
                            showPopup('normal','Отправить жалобу','<b>' + result.message + '</b>' + '<br>'+ result.errors.join('<br>'));
                        }else{
                            showPopup('normal','Отправить жалобу',result.message);
                        }

                    }
                });
            });

            $(document).on('click tap','.send-comment',function(e){
                e.preventDefault();
                var form = $('form[name="mroc_mainbundle_comment"]');

                $.ajax({
                    type: 'post',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(result){
                        if(result.errors.length > 0){
                            showPopup('small','Оставить комментарий','<b>' + result.message + '</b>' + '<br>'+ result.errors.join('<br>'));
                        }else{
                            showPopup('small','Оставить комментарий',result.message);
                        }

                    }
                });
            });

            $(document).on('click tap','.send-complaint',function(e){
                e.preventDefault();
                var form = $('form[name="mroc_mainbundle_complaint"]');

                $.ajax({
                    type: 'post',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(result){
                        if(result.errors.length > 0){
                            showPopup('small','Отправить жалобу','<b>' + result.message + '</b>' + '<br>'+ result.errors.join('<br>'));
                        }else{
                            showPopup('small','Отправить жалобу',result.message);
                        }

                    }
                });
            });

            $(document).on('click tap','.send-question',function(e){
                e.preventDefault();
                var form = $('form[name="mroc_mainbundle_question"]');

                $.ajax({
                    type: 'post',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(result){
                        if(result.errors.length > 0){
                            showPopup('small','Задать вопрос','<b>' + result.message + '</b>' + '<br>'+ result.errors.join('<br>'));
                        }else{
                            showPopup('small','Задать вопрос',result.message);
                        }

                    }
                });
            });

        };

    </script>
{% endblock %}

{% block body %}
    <div class="top-header">
        ГУП “МосОблКачество”
    </div>
    <div class="container">
        <div class="left" data-state="on">
            <div class="arrow hide-left-bar"><i class="icon arrow-left"></i></div>
            <div class="filter-line line">
                Фильтр
            </div>

            <div class="tabs">
                <a class="tab active" data-for-tab="by-type">По типу</a>
                <a class="tab" data-for-tab="by-production">По виду продукции</a>
            </div>
            <div class="tab-content">
                <div class="content active" data-tab-name="by-type">
                    <ul>
                        {% for k,v in object_type_list %}
                            <li><label><input type="checkbox" class="object_type_select" value="{{ v.id }}">{{ v.name }}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="content" data-tab-name="by-production">
                    <ul>
                        {% for k,v in sale_type_list %}
                            <li><label><input type="checkbox" class="sale_type_select" value="{{ v.id }}">{{ v.name }}</label></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="best">
                <div class="best-line line">Рейтинг лучших</div>
                <div class="best-list">
                    {% for k,v in top %}
                        <div class="list-item">
                            {{ loop.index }}. <a class="bold" href="#">{{ v.address }}</a><br>
                            {% if v.rating %}
                                <span>Рейтинг: {{ v.rating }}</span>
                            {% else %}
                                <span>Рейтинг: &mdash;</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="map"></div>
        <div class="right" data-state="off" data-current-id="0" data-extended-url="{{ path('_xhr_mroc_main_get_extended_info') }}">
            <div class="arrow hide-right-bar"><i class="icon arrow-left"></i></div>
        </div>
    </div>
    <div class="footer">
        <div class="inner">
            <div class="to-left">
                <a href="#" class="sq-link"><img alt="Гражданам украины" src="{{ asset('/images/ukraine.png')}}"></a>
                <a href="#" class="sq-link"><img alt="Сотрудничество" src="{{ asset('/images/crimea.png') }}"></a>
                <a href="#" class="sq-link"><img alt="Оценка воздействия" src="{{ asset('/images/regular.png') }}"></a>
                <a href="#" class="sq-link"><img alt="Конкурс" src="{{ asset('/images/competition.png') }}"></a>
            </div>
            <div class="to-right">
                <a class="red button complaint">Пожаловаться на работу сервиса</a><br>
                <a class="default button question">Отправить вопрос</a><br>
                <a class="global-complaint" href="#">Пожаловаться в контролирующие органы</a>
            </div>
        </div>
    </div>

    <div class="darken"></div>
    <div class="modal">
        <div class="modal-header">
            <div class="header-text">Отправить жалобу</div>
            <div class="close">&times;</div>
        </div>
        <div class="modal-content"></div>
    </div>
{% endblock %}